.card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 33%;
  border: 2px solid black;
  margin-left: 2em;
  margin-bottom: 2em;
  flex-wrap: wrap;
  padding: 25px 12px 18px;
}

.card-action-content {
  display: flex;
  justify-content: flex-end;
  padding-top: 1em;
};