.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.filter-sort-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin-bottom: 2em;
}

.add-server-button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;

  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;

  margin: 0 auto;
  display: block;

  cursor: pointer;
}